/*IVE SEPARATED IN ORDER OF PAGE THEN APPEARANCE*/
/*CLASSES & IDS ARE NAMED USING "PAGE(IF APPLICABLE)-ATTRIBUTE (IN ORDER)-CLASS/-ID"*/
@media screen and (max-width: 850px) {
  * {
    flex-wrap: wrap;
  }

  main {
    margin: 0%;
    padding: 1%;
  }

  nav ul {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  nav li {
    margin-right: 3%;
    margin-bottom: 1%;
  }
  
  button {
  padding: 30%;
  background-color: #D3CEDF;
  border-radius: 5px;
  border: none;
  font-size: 90%;
  }
  
  .main-img-div-class .main-img-h1-class {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 150%;
    line-height: 200%;
  }
  
  .nav-dropdown-item-class {
    display: none;
    position: fixed;
    top: 25%; 
    transform: translate(-50%, -50%); 
    min-width: 160px;
    z-index: 1;
  }

  .nav-dropdown-class:hover .nav-dropdown-item-class {display: block;}

  .resource-columns-box-class {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
  }

  .resource-box-class {
    flex-basis: 1%;
    margin: 1em;
  }
  
}

/*APPLIES TO EVERY SINGLE THING*/
* {
  margin: 0;
  padding: 0;
}

/*UNIVERSALS - APPLIES TO EVERYTHING INSIDE OF THEM*/
body {
  background-color: #F2D7D9;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #16494B;
  line-height: 20px;
  letter-spacing: 1.5px;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

ol {
  justify-content: flex-end;
  list-style-type: lower-latin;
}

li {
  color: #16494B;
  text-decoration: none;
  line-height: 20px;
}

a {color: #16494B;}

/*HEADER UNIVERSALS*/
header {
  display: flex;
  align-items: center;
  padding: 2%;

}

header h1 {
  flex: 1;
  margin: 0;
}

header h3 {margin: 0;}

header a {
  text-decoration: none;
  color: #16494B;
  margin: 0 5px;
}

/*NAVBAR UNIVESRALS*/
nav {display: inline;}

nav li {margin:1em;}

nav li a {
  color: #16494B;
  text-decoration: none;
  font-size: 30px;
}

nav ul {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #D3CEDF;
  text-align: center;
  list-style: none;
  justify-content: center;
  color: #16494B;
}

/*BUTTON UNIVERSALS*/
button {
  padding: 20px 42px;
  border-radius: 10px;

  background-color: #D3CEDF;
  border: none;

  font-family: 'Roboto', sans-serif;
  color: #16494B;
  text-decoration: none;
  font-size: 20px;

  transition-property: background-color, color;
  transition-duration: 0.4s;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: #16494B;
  color: #d3cedf;
}

/*HEADER CLASSES AND IDS*/
.header_colour {
  background-color: #D3CEDF;

}

/*NAV BAR IDS AND CLASSES*/


.nav-drop-a-class li a {
  display: inline-block;
  color: #16494B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.nav-dropdown-class li {
  display: inline-block;
  position: relative; 
}

.nav-dropdown-item-class {
  display: none;
  position: absolute;
  background-color: #D3CEDF;
  min-width: 160px;
  z-index: 1;
  left: 50%; 
  transform: translateX(-50%); 
}


.nav-dropdown-item-class a {
  color: #16494b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 24px;
}

.nav-dropdown-item-class a:hover {
  background-color: #9cb4cc;
  transition-property: background-color, color;
  transition-duration: 0.4s;
}

.nav-dropdown-class:hover .nav-dropdown-item-class {
  display: block;
}

/*MAIN IDS AND CLASSES*/
.main-img-div-class {
  background-color: #F2D7D9;
  width: 100%;
  max-height: 25em;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: #16494B;
}

.main-img-class {
  width: 100%;
  height: auto;
  opacity: 0.3;
}

.main-img-h1-class {
  padding-top: 1em;
  padding-bottom: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  font-size: 40px;
  font-weight: 900;
  line-height: 70px;
  text-align: center;
}



/*INDEX IDS AND UNIVERSALS*/
#index-main-text-box-id {
  background-color: #D3CEDF;
  column-count: 2;
  column-gap: 2em;
  display: flex;
  width: 100%;
  flex-direction: row;
  color: #205E61;
  text-align: center;

}

.index-main-box-content-class {
  background-color: #9CB4CC;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  display: inline-flex;
  overflow: hidden;
  width: 23em;
  height: 23em;
  justify-content: center;
  align-items: center;
}

.index-main-box-text-class {
  font-weight: 5px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
}

#index-factgen-div-id {margin-bottom: 5%;}

/*BUTTON*/
#index-factgen-div-id {
  text-align: center;
  margin-bottom: 10em;
  margin-left: auto;
  margin-right: auto;
}
#generateFactsButtonSw{
  margin: 2em;
  font-size: 40px;
}

#generateFactsButton {
  margin: 2em;
  font-size: 40px;
}

#factSw{
  margin-left: 3em;
  margin-right: 3em;

  text-align: center;
  font-size: 30px;
  line-height: 40px;
}

#fact {
  margin-left: 3em;
  margin-right: 3em;

  text-align: center;
  font-size: 30px;
  line-height: 40px;

}

/*ABOUT*/

#about-text-id {
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

#about-div-text-id {
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 5em;
  margin-bottom: 5em;
}

/*RESOURCES*/
.resource-box-class {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9CB4CC;
  border: 2px solid #16494B;
  flex-basis: 100%;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
  height: 20em;
  width: 20em;
  min-width: 7em;
  padding: 5%;
  text-align: center;
}

.resources-text-class {
  margin-top: 10%;
  margin-bottom: 10%;

  font-size: 40px;
  text-align: center;
  line-height: 45px;
}

.resources-text-class a {
  text-decoration: none;
  color: #16494B;
}

.resource-columns-box-class {
  margin-top: 3em;

  column-count: 3;
  flex-wrap: wrap;

  text-align: center;
}

.resource-box-class:hover {cursor: pointer;}

/*RESOURCE-PAGES*/
.resources-page-text-class {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
  margin-top: 2%;


}

.resources-page-div-class {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #9CB4CC;
  margin-left: 11%;
  margin-right: 11%;
}

.resources-page-h2-class {
  margin-top: 2em;
  margin-bottom: 1em;
  margin-right: 10%;
  margin-left: 10%;
  line-height: 40px;
  font-size: 40px;
  text-align: center;
}

.resources-page-small-text-class {
  text-align: center;
  font-size: 23px;
  line-height: 25px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}

.resources-page-ol-class {
  margin-left: 10%;
  margin-right: 10%;

  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

.resources-page-ol-class li {margin-bottom: 1.2%;}